<!DOCTYPE html>
{% load static %}
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">

</head>
<body>
<header class="site-header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Opportunity Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"href="{% url 'accounts_list' %}">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'opportunity-list' %}">Opportunities</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 mt-2">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>

          <div class="col-md-4">
          <div class="content-section">
              <ul class="list-group">
                  {% if user.is_authenticated %}

                <li class="list-group-item list-group-item-light">
                    <a class="btn btn-danger" href="{% url 'logout' %}" style="color:#fff;letter-spacing:1px;">user logout</a>
                </li>
                  {% else %}

                <li class="list-group-item list-group-item-light">
                    <a class="btn btn-info" href="{% url 'register' %}" style="color:#fff;letter-spacing:1px;">register</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a class="btn btn-success" href="{% url 'login' %}" style="color:#fff;letter-spacing:1px;">user login</a>
                </li>
                  {% endif %}
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="{% static 'main/js/Jquery3.4.1.min.js' %}" ></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'main/js/popper.min.js' %}" ></script>
</body>
</html>